
<main th:fragment="content-default" id="content-page">
    <div class="container-fluid px-4 h-100"> 

        <!--<ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active text-black"> Conciliación Bancaria se utiliza para detectar discrepancias entre los registros de la cuenta bancaria del sistema financiero y los registros del estado de cuenta del banco, como errores en el registro de transacciones, transacciones pendientes, cheques sin cobrar, cargos no autorizados, etc. Al reconciliar estas discrepancias, se puede garantizar la precisión de los registros financieros y prevenir posibles errores o fraudes.</li>
        </ol>-->

        <div class="row d-flex align-items-center justify-content-center mt-5 mb-5">
            <div class="card col-12 col-md-10 col-lg-8">
                <div class="card-header blanco-obligao row">
                    <div class="col-10">
                        <h3 class="mt-3">(CNT) Conciliación Bancaría</h3>
                    </div>
                    <div class="col-2 mb-2 d-flex align-items-end justify-content-end">
                        <button type="button" class="btn btn-secondary"><b><i class="fa-regular fa-rectangle-list"></i> Consulta</b></button>
                    </div>
                </div>
                <div class="card-body mt-3 mb-3">
                    <form class="form-group">
                        <div class="row d-flex align-items-end justify-content-end">
                            <div class="mb-3 col-12 col-sm-6 col-lg-4">
                                <label for="fecha" class="form-label text-muted">Fecha:</label>
                                <input type="date" class="form-control" id="fecha">
                            </div>
                        </div>
                        <div class="row">    
                            <div class="mb-3 col-12 col-sm-6">
                                <label for="inputBanco" class="form-label text-muted">Banco:</label>
                                <select id="inputBanco" class="form-select">
                                    <option value="0" selected disable>--Seleccione--</option>
                                </select>
                            </div>

                            <div class="mb-3 col-12 col-sm-6">

                                <label for="inputCuenta" class="form-label text-muted">Cuenta:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" required disabled placeholder="" aria-label="Cuenta Contable" aria-describedby="basic-addon2">
                                    <button type="button" class="input-group-text" id="basic-addon2"><i class="fa-regular fa-credit-card"></i></button>
                                </div>
                            </div>

                            <div class="mb-3 col-12 col-sm-6">
                                <label for="inputSaldoBanco" class="form-label text-muted" >Saldo Banco:</label>
                                <input type="number" step="0.01" value="0.00" class="form-control" id="inputSaldoBanco">
                            </div>
                            <div class="mb-3 col-12 col-sm-6">
                                <label for="inputSaldoLibro" class="form-label text-muted" >Saldo Libro:</label>
                                <input type="number" step="0.01" value="0.00" class="form-control" id="inputSaldoLibro">
                            </div>

                        <div class="mb-3 col-12">
                            <label for="inputObservaciones" class="form-label text-muted">Observaciones:</label>
                            <textarea class="form-control" id="inputObservaciones" rows="3"></textarea>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-success"><b><i class="fas fa-save"></i> Guardar</b></button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>$(document).ready(function() {
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day ;       
$("#fecha").attr("value", today);
});</script>
</main>