
<main th:fragment="content-default" id="content-page">
    <div class="container-fluid px-4">
        <div class="row d-flex align-items-center justify-content-center mt-5 mb-5">
            <div class="card col-12 col-md-10 col-lg-8">
                <div class="card-header blanco-obligao row">
                    <div class="col-10">
                        <h3 class="mt-3">(CNT) Registro de Transacciones</h3>
                    </div>
                    <div class="col-2 mb-2 d-flex align-items-end justify-content-end">
                        <button type="button" class="btn btn-secondary"><b><i class="fa-regular fa-rectangle-list"></i> Consulta</b></button>
                    </div>
                </div>
                <div class="card-body mt-3 mb-3">
                    <form class="form-group">
                        <div class="row d-flex align-items-end justify-content-end">
                            <div class="mb-3 col-12 col-sm-6 col-lg-4">
                                <label for="fecha" class="text-muted">Fecha:</label>
                                <input type="date" class="form-control" id="fecha">
                            </div>
                        </div>
                        <div class="row">
                        <div class="mb-3 col-12 col-md-6">
                            <label for="num-factura" class="form-label text-muted">No. Factura:</label>
                            <div class="input-group">
                                <input type="text" id="num-factura" name="num-factura" placeholder="" class="form-control" required aria-describedby="basic-addon4">
                                    <button type="button" name="factura" class="input-group-text" id="basic-addon4" onclick="$('#formFile').click()"><i class="fa-regular fa-file"></i></button>
                                <input style="display: none" class="form-control" type="file" id="formFile">
                            </div>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="tipo" class="form-label text-muted">Tipo de Transacción:</label>
                            <select class="form-select" id="tipo">
                                    <option value="0" selected disabled>--Seleccione--</option>
                                    <option value="1">Compra</option>
                                    <option value="2">Venta</option>
                                    <option value="3">Pago</option>
                                    <option value="4">Cobro</option>
                            </select>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label for="categoria" class="form-label text-muted">Categoría:</label>
                            <select class="form-select" id="categoria">
                              <option value="0" selected disabled>--Seleccione--</option>
                              <option value="1">Ventas</option>
                              <option value="2">Gastos Generales</option>
                            </select>
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <label for="monto" class="form-label text-muted">Cliente / Proveedor:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" required disabled placeholder="" aria-label="Beneficiario" aria-describedby="basic-addon3">
                                <button type="button" class="input-group-text" id="basic-addon3"><i class="fa-regular fa-user"></i></button>
                            </div>
                        </div>
                        <div class="mb-3 col-12 col-md-4">
                            <label for="monto" class="form-label text-muted">Cuenta Contable:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" required disabled placeholder="" aria-label="Cuenta Contable" aria-describedby="basic-addon2">
                                <button type="button" class="input-group-text" id="basic-addon2"><i class="fa-regular fa-credit-card"></i></button>
                            </div>
                        </div>

                        <div class="mb-3 col-12 col-md-4">
                            <label for="monto" class="form-label text-muted">Monto:</label>
                            <input type="number" class="form-control" id="monto" name="monto" step="0.01" min="0" value="0.00" required/>
                        </div>

                        <div class="mb-3 col-12 col-md-4">
                            <label for="tipo-cuenta" class="form-label text-muted">Moneda:</label>
                            <select class="form-select" id="tipo-cuenta" name="tipo-cuenta">
                              <option value="0" selected disable>--Seleccione--</option>
                              <option value="1">DOP Peso Dominicano</option>
                              <option value="2">USD Dolar Estadounidense</option>
                              <option value="3">EUR Euro</option>
                            </select>
                        </div>

                        <div class="mb-3 col-12">
                            <label for="concepto" class="form-label text-muted">Concepto:</label>
                            <textarea class="form-control" id="concepto" rows="3" required></textarea>
                        </div>

                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-success"><b><i class="fas fa-save"></i> Guardar</b></button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>$(document).ready(function() {
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day ;       
        $("#fecha").attr("value", today);
    });</script>
</main>
