<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    lang="es"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    >
    <head>
        <title>General</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <nav
            class="sb-topnav navbar navbar-expand navbar-dark bg-dark align-center"
            th:fragment="header"
            >
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" th:href="@{/main/index}"
               ><h4>Proyecto</h4></a
            >
            <!-- Sidebar Toggle-->
            <button
                type="button"
                class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 toggle-btn text-white"
                onclick="toggleSidebar()"
                >
                <i class="fas fa-bars"></i>
            </button>
            <div
                class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
                ></div>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        id="navbarDropdown"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        ><i class="fas fa-user fa-fw"></i
                        ></a>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdown"
                        >
                        <li><a class="dropdown-item config-user" href="#">Configuración</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" th:href="@{/auth/logout}"
                               >Cerrar Sesión</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav_nav" th:fragment="menu">
            <nav id="sidenavAccordion" class="bg-dark sidebar flex-shrink-0 p-3" data-bs-theme="dark">
                <div class="sb-sidenav-menu">
                    <a class="d-flex align-items-center pb-3 mb-3 text-decoration-none text-white">
                        <span class="fs-4 fw-semibold">Proyecto</span>
                    </a>
                    <ul class="nav list-unstyled ps-0">
                        <li>
                            <button
                                class="nav-link btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts1"
                                aria-expanded="false"
                                aria-controls="collapseLayouts1"
                                >
                                <i class="fa-solid fa-calculator"></i>&MediumSpace; Contabilidad
                            </button>
                            <div
                                class="collapse"
                                id="collapseLayouts1"
                                aria-labelledby="headingOne"
                                data-bs-parent="#sidenavAccordion"
                                >
                                <ul class="sb-sidenav-menu-nested nav btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li>
                                        <a
                                            class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded"
                                            href="#"
                                            id="contabilidad_registro_transacciones"
                                            >
                                            &MediumSpace; Registro de Transacciones
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded"
                                            href="#"
                                            id="contabilidad_conciliacion_bancaria"
                                            >
                                            &MediumSpace; Conciliación Bancaría
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded"
                                            href="#"
                                            id="contabilidad_cuentas_bancarias"
                                            >
                                            &MediumSpace; Cuentas Bancanrías
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded"
                                            href="#"
                                            id="contabilidad_presupuesto"
                                            >
                                            &MediumSpace; Gestión de Presupuesto
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded" href="#" id="contabilidad_impuestos">
                                            &MediumSpace; Gestión de Impuestos
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded" href="#" id="contabilidad_informes">
                                            &MediumSpace; Informes Financieros
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button
                                class="nav-link btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts2"
                                aria-expanded="false"
                                aria-controls="collapseLayouts2"
                                >
                                <i class="fas fa-receipt"></i>&MediumSpace; Cuentas x Pagar
                            </button>
                            <div
                                class="collapse"
                                id="collapseLayouts2"
                                aria-labelledby="headingTwo"
                                data-bs-parent="#sidenavAccordion"
                                >
                                <ul class="sb-sidenav-menu-nested nav btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li>
                                        <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="cxp_registro_facturas">
                                            &MediumSpace; Registro de Facturas
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="cxp_control_pagos">
                                            &MediumSpace; Control de Pagos
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="cxp_informes">
                                            &MediumSpace; Informes y Análisis
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded "
                                            href="#"
                                            id="cxp_comunicacion_proveedores"
                                            >
                                            &MediumSpace; Comunicación con Proveedores
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded "
                                            href="#"
                                            id="cxp_autorizaciones_aprobaciones"
                                            >
                                            &MediumSpace; Autorizaciones y Aprobaciones
                                        </a>
                                    </li>
                                </ul>
                            </div> 
                        </li>
                        <li class="border-top my-3"></li>
                        <li class="mb-1">                       
                            <button
                                class="nav-link btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed "
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts3"
                                aria-expanded="false"
                                aria-controls="collapseLayouts3"
                                >
                                <i class="fa-solid fa-gear"></i>&MediumSpace; Sistemas
                            </button>
                            <div
                                class="collapse"
                                id="collapseLayouts3"
                                aria-labelledby="headingThree"
                                data-bs-parent="#sidenavAccordion"
                                >
                                <ul class="sb-sidenav-menu-nested nav btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li>
                                        <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="dat_gen_principal" th:if="${dat_gen_principal}">
                                            &MediumSpace; Datos Generales
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="sistema_configuracion">
                                            &MediumSpace; Configuración
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="usr_mgr_principal" th:if="${usr_mgr_principal}">
                                            &MediumSpace; Usuarios
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sb-sidenav-footer position-fixed bottom-0 start-0 p-3">
                    <div class="fs-6">Bienvenido:</div>
                    <span class="fs-6 fw-semibold"
                        th:if="${datos_personales}"
                        th:text="${datos_personales.getNombre()+' '+datos_personales.getApellido()}"
                        ></span>
                </div>
            </nav>
        </div>

        <main th:fragment="content-default" class="main-content" id="content-page">
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </main>


        <footer class="py-4 bg-light mt-auto" th:fragment="footer">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Proyecto 2023</div>
                    <div>
                        <a href="#" class="text-muted">Políticas de Privacidad</a>
                        &middot;
                        <a href="#" class="text-muted">Terminos &amp; Condiciones</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
