
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark align-center" th:fragment="header">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/main/index}">
        <img class="pb-2" width="32px" height="32px" th:src="@{/content/assets/img/Omsafooter.webp}"/>
        <span class="fs-4 fw-semibold" th:text="${appnombre}"></span>
    </a>
    <!-- Sidebar Toggle-->
    <button
        type="button"
        class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 toggle-btn text-white"
        onclick="toggleSidebar()"
        >
        <i class="fa fa-bars"></i>
    </button>
    <div
        class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
        ></div>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ><i class="fa fa-user fa-fw"></i
                ></a>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown"
                >
                <li><a class="dropdown-item config-user" href="#">Configuración</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <a class="dropdown-item" th:href="@{/auth/logout}"
                       >Cerrar Sesión</a
                    >
                </li>
            </ul>
        </li>
    </ul>
</nav>

<div id="layoutSidenav_nav" th:fragment="menu">
    <nav id="sidenavAccordion" class="bg-dark sidebar flex-shrink-0 p-3" data-bs-theme="dark">
        <div class="sb-sidenav-menu">
            <a class="d-flex align-items-center pb-3 mb-3 text-decoration-none text-white">
                <img class="me-3" width="32px" height="32px" th:src="@{/content/assets/img/Omsafooter.webp}"/>
                <span class="fs-4 fw-semibold" th:text="${appnombre}"></span>
            </a>
            <ul class="nav list-unstyled ps-0">
                <li class="mb-1" th:if="${trp_principal}">                       
                    <button
                        class="nav-link btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed "
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseLayouts4"
                        aria-expanded="false"
                        aria-controls="collapseLayouts4"
                        >
                        <i class="fa fa-car"></i>&MediumSpace; Transporte
                    </button>
                    <div
                        class="collapse"
                        id="collapseLayouts4"
                        aria-labelledby="headingFour"
                        data-bs-parent="#sidenavAccordion"
                        >
                        <ul class="nav btn-toggle-nav list-unstyled fw-normal pb-1 d-block">
                            <li th:if="${trp_vehiculo_consulta}">
                                <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="trp_vehiculo_consulta">
                                    &MediumSpace; Vehículos
                                </a>
                            </li>
                            <li th:if="${trp_rutas_consulta}">
                                <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="trp_rutas_consulta">
                                    &MediumSpace; Rutas
                                </a>
                            </li>
                            <li th:if="${trp_paradas_consulta}">
                                <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="trp_paradas_consulta">
                                    &MediumSpace; Paradas
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li  th:if="${con_principal}">
                    <button
                        class="nav-link btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseLayouts1"
                        aria-expanded="false"
                        aria-controls="collapseLayouts1"
                        >
                        <i class="fa fa-calculator"></i>&MediumSpace; Contabilidad
                    </button>
                    <div
                        class="collapse"
                        id="collapseLayouts1"
                        aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion"
                        >
                        <ul class="nav btn-toggle-nav list-unstyled fw-normal pb-1 d-block">
                            <li  th:if="${con_registro_transacciones}">
                                <a
                                    class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded"
                                    href="#"
                                    id="con_registro_transacciones"
                                    >
                                    &MediumSpace; Registro de Transacciones
                                </a>
                            </li>
                            <li th:if="${con_conciliacion_bancaria}">
                                <a
                                    class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded"
                                    href="#"
                                    id="con_conciliacion_bancaria"
                                    >
                                    &MediumSpace; Conciliación Bancaría
                                </a>
                            </li>
                            <li th:if="${con_cuentas_bancarias}">
                                <a
                                    class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded"
                                    href="#"
                                    id="con_cuentas_bancarias"
                                    >
                                    &MediumSpace; Cuentas Bancanrías
                                </a>
                            </li>
                            <li th:if="${con_presupuesto}">
                                <a
                                    class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded"
                                    href="#"
                                    id="con_presupuesto"
                                    >
                                    &MediumSpace; Gestión de Presupuesto
                                </a>
                            </li>
                            <li  th:if="${con_impuestos}">
                                <a class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded" href="#" id="con_impuestos">
                                    &MediumSpace; Gestión de Impuestos
                                </a>
                            </li>
                            <li th:if="${con_informes}">
                                <a class="nav-link acceso  link-body-emphasis d-inline-flex text-decoration-none rounded" href="#" id="con_informes">
                                    &MediumSpace; Informes Financieros
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li th:if="${cxp_principal}">
                    <button
                        class="nav-link btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseLayouts2"
                        aria-expanded="false"
                        aria-controls="collapseLayouts2"
                        >
                        <i class="fa fa-list-alt"></i>&MediumSpace; Cuentas x Pagar
                    </button>
                    <div
                        class="collapse"
                        id="collapseLayouts2"
                        aria-labelledby="headingTwo"
                        data-bs-parent="#sidenavAccordion"
                        >
                        <ul class="nav btn-toggle-nav list-unstyled fw-normal pb-1 d-block">
                            <li th:if="${cxp_registro_facturas}">
                                <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="cxp_registro_facturas">
                                    &MediumSpace; Registro de Facturas
                                </a>
                            </li>
                            <li th:if="${cxp_control_pagos}">
                                <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="cxp_control_pagos">
                                    &MediumSpace; Control de Pagos
                                </a>
                            </li>
                            <li th:if="${cxp_informes}">
                                <a class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded " href="#" id="cxp_informes">
                                    &MediumSpace; Informes y Análisis
                                </a>
                            </li>
                            <li th:if="${cxp_comunicacion_proveedores}">
                                <a
                                    class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded "
                                    href="#"
                                    id="cxp_comunicacion_proveedores"
                                    >
                                    &MediumSpace; Comunicación con Proveedores
                                </a>
                            </li>
                            <li th:if="${cxp_autorizaciones_aprobaciones}">
                                <a
                                    class="nav-link acceso link-body-emphasis d-inline-flex text-decoration-none rounded "
                                    href="#"
                                    id="cxp_autorizaciones_aprobaciones"
                                    >
                                    &MediumSpace; Autorizaciones y Aprobaciones
                                </a>
                            </li>
                        </ul>
                    </div> 
                </li>
                <li class="mb-1" th:if="${sys_principal}">                       
                    <button
                        class="nav-link btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed "
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseLayouts3"
                        aria-expanded="false"
                        aria-controls="collapseLayouts3"
                        >
                        <i class="fa fa-solid fa-gear"></i>&MediumSpace; Sistemas
                    </button>
                    <div
                        class="collapse"
                        id="collapseLayouts3"
                        aria-labelledby="headingThree"
                        data-bs-parent="#sidenavAccordion"
                        >
                        <ul class="nav btn-toggle-nav list-unstyled fw-normal pb-1 d-block">
                            <li th:if="${dat_gen_consulta_datos}">
                                <a class="nav-link acceso link-body-emphasis text-decoration-none rounded " href="#" id="dat_gen_consulta_datos">
                                    &MediumSpace; Mantenimientos de Datos
                                </a>
                            </li>
                            <li th:if="${sys_configuracion}">
                                <a class="nav-link acceso link-body-emphasis text-decoration-none rounded " href="#" id="sys_configuracion">
                                    &MediumSpace; Configuración
                                </a>
                            </li>
                            <li th:if="${usr_mgr_principal}">
                                <a class="nav-link acceso link-body-emphasis text-decoration-none rounded " href="#" id="usr_mgr_principal">
                                    &MediumSpace; Usuarios
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sb-sidenav-footer position-fixed bottom-0 start-0 p-3">
            <div class="fs-6">Bienvenido:&MediumSpace;
                <a class="btn btn-secondary btn-sm config-user" href="#"><i class="fa fa-cog"></i></a>
                &nbsp;
                <a class="btn btn-danger btn-sm" th:href="@{/auth/logout}"><i class="fa fa-sign-out"></i></a>
            </div>
            <span class="fs-6 fw-semibold mt-2"
                th:if="${datos_personales}"
                th:text="${datos_personales.getNombre()+' '+datos_personales.getApellido()}"
                ></span>
        </div>
    </nav>
</div>

<main th:fragment="content-default" class="main-content" id="content-page">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-12 col-sm-6 col-xl-4 mt-1 mb-1">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="m-1">Eventos del Transporte</h4>
                        <div class="table-responsive table-responsive-md">
                            <table
                                class="table table-hover table-borderless mt-2"
                                id="table"
                                >
                                <thead class="bg-secondary text-white">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col"> </th>
                                        <th scope="col">Placa</th>
                                        <th scope="col">Ruta</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="d: ${vhl_log}" th:attr="data-id=${d.id}">
                                        <th scope="row" th:text="${d.id}"></th>
                                        <td>
                                        <th:block th:if='${d.estado_new=="Averiado"}'>
                                            <div class="spinner-grow text-danger" role="status">
                                                <span class="visually-hidden">...</span>
                                            </div>
                                        </th:block>

                                        <th:block th:if='${d.system_change}'>
                                            <div class="spinner-grow text-warning" role="status">
                                                <span class="visually-hidden">...</span>
                                            </div>
                                        </th:block>
                                        </td>
                                        <td th:text="${d.placa}"></td>
                                        <td th:text="${d.ruta_new}"></td>
                                        <td th:text="${(d.system_change?'Sistema - ':'')+d.estado_new}"></td>
                                        <td th:text="${d.fecha_registro}"></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <script th:src="@{/content/js/es_dash6085603.js}"></script>
                        <script th:src="@{/content/js/tb_init.js}"></script>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mt-1 mb-1">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mt-1 mb-1">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="py-4 bg-light mt-auto" th:fragment="footer">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Abreu Apps 2024</div>
            <div>
                <a href="#" class="text-muted">Políticas de Privacidad</a>
                &middot;
                <a href="#" class="text-muted">Terminos &amp; Condiciones</a>
            </div>
        </div>
    </div>
</footer>
