<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main th:fragment="content-default" id="content-page">
            <th:block th:if="${trp_vehiculo_registro}">
                <div class="container-fluid px-4">
                    <div class="row d-flex align-items-center justify-content-center mt-5 mb-5">
                        <div class="card col-12 col-md-10 col-lg-8">
                            <div class="card-body mt-3 mb-3">
                                <div class="row">
                                    <div class="col-12 d-flex align-items-start justify-content-start">
                                        <button type="submit" class="btn btn-sm btn-secondary"
                                                onclick="$(function () {
                                                        event.preventDefault();
                                                        cargar_contenido('trp_vehiculo_consulta');
                                                    });">
                                            <b><i class="fa fa-chevron-left"></i></b>
                                        </button>
                                        &nbsp;&nbsp;<h4>Vehículos&nbsp;
                                            <th:block th:if="${placa==null}">
                                                <i class="fa fa-plus"></i>
                                            </th:block>
                                            <th:block th:if="${placa!=null}">
                                                <i class="fa fa-pencil"></i>
                                            </th:block>
                                        </h4>
                                    </div>
                                </div>
                                <form class="form-group" id="form-guardar" th:object="${vehiculo}">
                                    <div class="row">
                                        <div class="mb-3 col-12 col-md-6">
                                            <label for="placa" class="form-label text-muted">Placa:</label>
                                            <input type="text" th:field='*{placa}' th:disabled="${placa!=null}" placeholder=" ... " class="form-control" required aria-describedby="basic-addon4">        
                                        </div>

                                        <div class="mb-3 col-12 col-md-6">
                                            <label for="grupo" class="form-label text-muted">Color:</label>
                                            <select class="form-select custom-select" th:field="*{color}" required>
                                                <option value="0" selected disabled>--Seleccione--</option>
                                                <option th:value="${c.dato}" th:each="c :${color}" th:if="${c.activo}" th:text="${c.dato}"></option>
                                            </select>
                                        </div>
                                        
                                        <input  type="datetime" name="fecha_actualizacion" style="display: none; width: 1px;height: 1px;" th:value="${#dates.format(vehiculo.fecha_actualizacion, 'yyyy-MM-dd HH:mm:ss')}">
                                        
                                        
                                        <div class="col-6 d-flex justify-content-start">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"  th:attr="checked=${placa!=null?activo:'true'}" name="vehiculo.activo" id="activo">
                                                    <label class="form-check-label text-muted" for="activo">Activo</label>
                                            </div>
                                        </div>
                                        
                                        <div class="col-6 d-flex justify-content-end">

                                            <button type="submit" class="btn btn-primary"> 
                                                <th:block th:if="${placa==null}"><b> <i class="fa fa-save"></i>
                                                    Guardar</b>
                                                </th:block>
                                                <th:block th:if="${placa!=null}"><b> <i class="fa fa-pencil"></i>
                                                        Editar</b>
                                                </th:block>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script th:src="@{/content/js/trp/svd_vhl574702.js}"></script>
            </th:block>
            <th:block th:unless="${trp_vehiculo_registro}">
                <div class="container-fluid px-4">
                    <div class="row d-flex align-items-center justify-content-center mt-5 mb-5">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <h1 class="display-1">403</h1>
                                <p class="lead">Acceso No Autorizado!</p>
                                <p>El acceso a este recurso ha sido denegado.</p>
                                <a th:href="@{/auth/login}">
                                    <i class="fa fa-arrow-left me-1"></i>
                                    Volver a Inicio
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </main>
    </body>
</html>
