
<main th:fragment="content-default" id="content-page">
    <th:block th:if="${trp_rutas_registro}">
        <div class="container-fluid px-4">
            <div class="row d-flex align-items-center justify-content-center mt-5 mb-5">
                <div class="card col-12 col-md-10 col-lg-8">
                    <div class="card-body mt-3 mb-3">
                        <div class="row mb-3">
                            <div class="col-12 d-flex align-items-start justify-content-start">
                                <button type="submit" class="btn btn-sm btn-secondary"
                                        onclick="$(function () {
                                                event.preventDefault();
                                                cargar_contenido('trp_rutas_consulta');
                                            });">
                                    <b><i class="fa fa-chevron-left"></i></b>
                                </button>
                                &nbsp;&nbsp;<h4>Rutas&nbsp;
                                    <th:block th:if="${ruta.ruta==null}">
                                        <i class="fa fa-plus"></i>
                                    </th:block>
                                    <th:block th:if="${ruta.ruta!=null}">
                                        <i class="fa fa-pencil"></i>
                                    </th:block>
                                </h4>
                            </div>
                        </div>


                        <form class="form-group" id="form-guardar" th:object="${ruta}">
                            <div class="row d-flex justify-content-center">

                                <div class="mb-3 col-12 col-md-8 col-lg-6">
                                    <label for="ruta" class="form-label text-muted">Nombre de la Ruta:</label>
                                    <input type="text" style="display: none; width: 1px;height: 1px;" th:if="${ruta!=null && ruta!=''}" id="Ruta" name="ruta" th:value="${ruta.ruta}" placeholder=" ... " class="form-control" aria-describedby="basic-addon4">
                                    <input type="text" th:field='*{ruta}' th:disabled="${ruta.ruta!=null}" placeholder=" ... " class="form-control" required aria-describedby="basic-addon4">
                                    <input  type="datetime" name="fecha_actualizacionn" style="display: none; width: 1px;height: 1px;" th:value="${#dates.format(ruta.fecha_actualizacion, 'yyyy-MM-dd HH:mm:ss')}">
                                </div>
                            </div>
                            <div class="row">    

                                <div class="mb-3 col-12 col-lg-6">
                                    <label for="localizacion_inicial" class="form-label text-muted">Lugar donde inicia:</label>
                                    <input type="text" th:field='*{localizacion_inicial}' placeholder=" ... " class="form-control" required aria-describedby="basic-addon4">
                                </div>

                                <div class="mb-3 col-12 col-lg-6">
                                    <label for="localizacion_final" class="form-label text-muted">Lugar donde termina:</label>
                                    <input type="text" th:field='*{localizacion_final}' placeholder=" ... " class="form-control" required aria-describedby="basic-addon4">
                                </div>

                                <div class="col-12 text-start ">
                                    <h5>Ubicación:</h5>
                                    <label for="" th:if="${ruta.ruta==null}" class="form-label text-muted">Coloque las líneas de la ruta sobre la calle</label>
                                </div>
                                <div class="mb-3 col-12 d-flex justify-content-center">
                                    <div id="map" class="map-regular"></div>
                                </div>
                                
                                <button type="button" id="getPolylineData"  style="display: none; width: 1px;height: 1px;" ></button>

                                <div class="col-6 d-flex justify-content-start">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  th:attr="checked=${ruta.ruta!=null?ruta.activo:'true'}" name="activo" id="activo">
                                            <label class="form-check-label text-muted" for="activo">Activo</label>
                                    </div>
                                </div>

                                <div class="col-6 d-flex justify-content-end">

                                    <button type="submit" class="btn btn-primary"> 
                                        <th:block th:if="${ruta.ruta==null}"><b> <i class="fa fa-save"></i>
                                                Guardar</b>
                                        </th:block>
                                        <th:block th:if="${ruta.ruta!=null}"><b> <i class="fa fa-pencil"></i>
                                                Editar</b>
                                        </th:block>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/content/js/lib/leaflet.js}"></script>
        <script th:src="@{/content/js/lib/leaflet-geoman.min.js}"></script>
        <script th:src="@{/content/js/fetch_cache.js}"></script>
        <script th:src="@{/content/js/trp/rta5984502loc.js}"></script>
        <script th:src="@{/content/js/trp/svd_rta5984502.js}"></script>
    </th:block>
    <th:block th:unless="${trp_rutas_registro}" th:insert="~{error/403 :: error403}">
    </th:block>
</main>
