<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main th:fragment="content-default" id="content-page">
            <th:block th:if="${usr_mgr_registro}">
                <div class="container-fluid px-4">
                    <div class="row d-flex align-items-center justify-content-center mt-5 mb-5">
                        <div class="col-12 col-md-10 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 mb-2 mt-3 d-flex align-items-start justify-content-start ms-4 me-4">
                                            <button type="button" class="btn btn-sm btn-secondary atras"><b><i class="fa fa-chevron-left"></i></b></button>
                                            <h4>
                                                &nbsp;Editar Permisos <i class="fa fa-pencil"></i>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="hidden" th:value="${usuario.username}" id="idUsuario"/>
                                        <div class="mb-3 col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                                            <button type="button" class="btn btn-primary" id="BtnMrkAll"><b><i class="fa fa-check-square"></i>&nbsp;Marcar Todos</b></button>
                                        </div>
                                        <div class="mb-3 col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                                            <button type="button" class="btn btn-danger" id="BtnMrkNone"><b><i class="fa fa-square-o"></i>&nbsp;Desmarcar Todos</b></button>
                                        </div>
                                        <div class="mb-3 col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                                            <button type="button" class="btn btn-success" id="BtnCopy"><b><i class="fa fa-users"></i>&nbsp;Copiar</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script th:src="@{/content/js/usrmgr/acc812653.js}"></script>
            </th:block>
            <th:block th:unless="${usr_mgr_registro}">
                <div class="container-fluid px-4">
                    <div class="row d-flex align-items-center justify-content-center mt-5 mb-5">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <h1 class="display-1">403</h1>
                                <p class="lead">Acceso No Autorizado!</p>
                                <p>El acceso a este recurso ha sido denegado.</p>
                                <a th:href="@{/auth/login}">
                                    <i class="fa fa-arrow-left me-1"></i>
                                    Volver a Inicio
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </main>
    </body>
</html>
