<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>500 Error - Proyecto</title>
        <link th:href="@{/content/css/styles.css}" rel="stylesheet" />
        <link th:href="@{/content/css/bootstrap.min.css}" rel="stylesheet" />
        <script th:src="@{/content/js/lib/font-awesome6.4.0all.min.js}"></script>
    </head>
    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h1 class="display-1">500</h1>
                                    <p class="lead">Error Interno del Servidor</p>
                                    <a th:href="@{/auth/login}">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Volver a Inicio
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
