html,
body {
  height: 100%;
}

.main-color{
    background-color: #0A2463;
}

.secondary-color{
    background-color: #8592b1;
}

.fondo-bonito{
    background-image: url('/content/assets/img/fondo bonito cmp.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondo-bonito-paginas{
    background-image: url('/content/assets/img/fondo bonito opc comp.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.z-100{
    z-index: 100;
}

.blanco-obligao{
    background-color:rgba(0,0,0,0);
}

.dataTables_filter{
    margin-bottom: 1rem;
}

.bloqueado{
    cursor:not-allowed;
}


.main-content {
  flex: 1;
  padding: 20px;
}
  
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: rgb(33, 37, 41);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
  cursor: pointer;
}

.show-sidebar .sidebar {
  transform: translateX(0);
}

.show-sidebar .overlay {
  display: block;
}

.sb-sidenav-footer{
    padding: 0.75rem;
    flex-shrink: 0;
}

.card{
    border-radius: 12px !important;
}

.map-regular{
    height: 540px;
    width: 100%;
}