html,
body {
  height: 100%;
}

.main-color{
    background-color: #0A2463;
}

.secondary-color{
    background-color: #8592b1;
}

.fondo-bonito{
    background-image: url('/content/assets/img/fondo bonito cmp.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondo-bonito-paginas{
    background-image: url('/content/assets/img/fondo bonito opc comp.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.z-100{
    z-index: 100;
}

.blanco-obligao{
    background-color:rgba(0,0,0,0);
}

.dataTables_filter{
    margin-bottom: 1rem;
}

.bloqueado{
    cursor:not-allowed;
}