<!DOCTYPE html>
<html
    lang="es"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    >
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            />
        <meta name="description" content="Dashboard - Inicio" />
        <meta name="author" content="Carlos Isaac Abreu Pérez" />
        <title>Dashboard - Proyecto</title>
        <link
            th:href="@{/content/css/jquery.dataTables.min.css}"
            rel="stylesheet"
            />
        <link th:href="@{/content/css/styles.css}" rel="stylesheet" />
        <link th:href="@{/content/css/bootstrap.min.css}" rel="stylesheet" />

    </head>

    <body class="sb-nav-fixed fondo-bonito-paginas">
        <div th:replace="~{fragments/general.html :: header}"></div>
        <div id="layoutSidenav">
            <div th:replace="~{fragments/general.html :: menu}"></div>
            <div id="layoutSidenav_content">
                <main th:replace="~{fragments/general.html :: content-default}"></main>
            </div>
        </div>
        <script th:src="@{/content/js/lib/bootstrap.bundle.min.js}"></script>
        <script	th:src="@{/content/js/lib/chart.min.js}" type="module"></script>
        <script th:src="@{/content/assets/demo/chart-area-demo.js}"></script>
        <script th:src="@{/content/assets/demo/chart-bar-demo.js}"></script>
        <script th:src="@{/content/js/lib/jquery-3.6.4.min.js}"></script>
        <script th:src="@{/content/js/lib/jquery.dataTables.min.js}"></script>
        <script th:src="@{/content/js/datatables-simple-demo.js}"></script>
        <script th:src="@{/content/js/scripts.js}"></script>
        <script th:src="@{/content/js/lib/font-awesome6.4.0all.min.js}"></script>
        <script th:src="@{/content/js/context-loading.js}"></script>
        <script th:src="@{/content/js/access.js}"></script>
    </body>
</html>
