<!DOCTYPE html>
<html
    lang="es"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    >
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
            />
        <meta name="description" content="Dashboard - Inicio" />
        <meta name="author" content="Carlos Isaac Abreu Pérez" />
        <title>Mapa</title>
        <link rel="icon" type="image/x-icon" th:href="@{/content/favicon.ico}"/>
        <link rel="stylesheet" th:href="@{/content/css/bootstrap.min.css}"/>
        <link th:href="@{/content/css/mapa_estilos.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/content/css/leaflet.css}"/>
    </head>
    <body>
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div id="toast-container" class="toast-container  top-0 end-0 p-3"></div>
        </div>
        <div id="map">
        </div>
        
        <script th:src="@{/content/js/lib/leaflet.js}" ></script>
        <script th:src="@{/content/js/lib/jquery-3.6.4.min.js}"></script>
        <script th:src="@{/content/js/global_vars.js}"></script>
        <script th:src="@{/content/js/checkstatus.js}"></script>
        <script th:src="@{/content/js/fetch_cache.js}"></script>
        <script th:src="@{/content/js/trp/map574702.js}" ></script>
        <script th:src="@{/content/js/lib/bootstrap.bundle.min.js}"></script>
    </body>
</html>
